.modalContainer {
    background-color: aliceblue;
    width: 50em;
    height: 45em;
    left: 0;
    right: 0;  
    top: 0;
    margin: 5% auto;
    position: fixed;
    z-index: 9999; 
    box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.109);
}

.modalContainer_form {
    background-color: rgba(192, 200, 207, 0.298);

    width: 75%;
    height: 40em;
    margin: 1em auto;
    padding: .5em 0;
    display: flex;
    flex-direction: column;
}

.buttonSubmitChanges {
    background-color: rgb(33, 97, 192);
    color: #fff;
    width: 15em;
    height: 3em;
    margin: .5em auto;
    border: none;
    border-radius: 14px;
    font-weight: bold;
    box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.184);
    transition: .4s;

}

.buttonSubmitChanges:hover {
    background-color: rgb(28, 83, 166);
    transform: scale(105%);
    transition: .4s;
}