/* .cartListContainer {
    background-color: aquamarine;
    width: 100%;
    min-height: 100vh;
}

.cartList {
    background-color: antiquewhite;
    width: 90%;
    height: 8em;
    margin: 0 auto;
    padding: 1em 0;
}

.items {
    background-color: brown;
    height: 7em;
    width: 80%;
    margin: 0 auto;
} */