.sliderContainer {
    width: 20em;
    min-height: 100vh;
    top: 0;
    right: 0;
    /* margin: 0 -7em; */
    position: fixed;
    z-index: 9999; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    overflow-y: scroll;
    background-color: rgba(240, 240, 240, 0.912);
    display: flex;
    flex-direction: column;
}
  
.sliderContainer_button {
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.closeBtn {
    display: inline-block;
    width: 30%;
    height: 2em;
    text-align: center;
    font-size: 1.1em;
    align-items: center;
    padding: .2em 0;
    color: aliceblue;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: rgb(176, 110, 110);
    border: none;
    cursor: pointer;
}

.sliderContainer_title {
    /* background-color: bisque; */
    padding: 1em 0;
        
}

.titleNavCart {
    font-size: 1.6em;
    /* background-color: aquamarine; */
}

.sliderItems {
    /* background-color: aqua; */
    width: 100%;
    min-height: 85vh;
    margin: 0 auto;
    padding: 0;

    overflow-y: scroll;
    position: relative;
}

.sliderItems_list {
    /* background-color: antiquewhite; */
    /* margin: 1em 0; */
    width: 100%;
    height: auto;
    padding: 0;
    
    /* list-style-type: none; */
    display: flex;
    flex-direction: column;
    position: absolute;

    /* justify-content: center/; */
}











.item {
    background-color: rgba(35, 35, 35, 0.468);
    width: 95%;
    height: 20em;
    margin: 3em auto;
    list-style-type: none;

}

.itemImg {
    height: 10em;
}