.productsContainer {
    background-color: #00000041;
    min-height: 94vh;
    width: 100%;
    display: flex;
}

.productsContainer_filters {
    background-color: rgba(255, 255, 255, 0.329);
    
    width: 15%;
}

.productsContainer_cards {
    background-color: rgb(246, 246, 246);
    
    width: 85%;
}

.paginateStilo {
    display: flex;
    flex-direction: row;
    background-color:  salmon;
}

