.productsContainer {
    background-color: #cccccc32;
    min-width: 100vh;
    display: flex;
}

.productsContainer_filters {
    background-color: rgba(250, 235, 215, 0.329);
    
    width: 15%;
}

.productsContainer_cards {
    background-color: rgba(95, 158, 160, 0.281);
    
    width: 85%;
}