.navbar_container {
    background-color: #ccc;
    width: 100%;
    height: 4em;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.navbar_container_pages {
    /* background-color: aqua; */
    display: flex;
    width: 30%;
    height: 4em;
    margin: 0;
}

.navbar_container_pages_btn {
    /* background-color: antiquewhite; */
    margin: .5em .5em;
    list-style-type: none;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar_container_pages_btn_link {
    /* background-color: chocolate; */
    text-decoration: none;
    display: flex;
    height: 2em;
    flex-direction: column;
    justify-content: center;
    color: #282828;
    font-size: 1.4em;
    transition: .4s;
}

.navbar_container_pages_btn_link:hover {
    text-decoration: .3px underline #000;
    transform: scale(107%);
    transition: .4s;
    
}

.navbar_container_menuOptions_dropdown {
    position: absolute;
    top: 6%;
    left: 2;
    display: none;
    z-index: 1;
    background-color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: .7s;
    list-style-type: none;
  }

  .navbar_container_pages_btn:hover .navbar_container_menuOptions_dropdown{
    display: block;
    transition: .7s;

  }

.navbar_container_logo {
    /* background-color: blue; */
    width: 35%;
    height: 4em;
}

.navbar_container_menuOptions {
    background-color: coral;
    width: 35%;
    height: 4em;
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 0 2em;
}

.navbar_container_menuOptions__cart {
    background-color: aqua;
    height: 4em;

    padding: .5em;
}

.navbar_container_menuOptions__cart button {
    font-size: 1.6em;
    width: 3.5em;
    height: 100%;
}